body {
	font-family: "Avenir Next", sans-serif;
}

h1 span {
	display: block;
	color: #fff;
	font-family: "Avenir Next", sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1.238;
	text-align: center;
	letter-spacing: 8px;
	font-weight: 600;
	margin-bottom: 0px;
}

h2 {
	color: #286191;
	font-family: "Avenir Next", sans-serif;
	font-size: 22px;
	line-height: 1.545;
	text-transform: uppercase;
	font-weight: 600;
	border-top: 8px solid #286191;
	padding: 30px 0px;
	letter-spacing: 3.8px;
}

p {
	font-size: 22px;
	font-weight: 100;
	color: #13364f;
	line-height: 1.545;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

section {
	padding: 80px 0px;
}

.container {
	width: 1050px;
	padding: 0px 10px;
}

hr {
	margin-top: 20px;
}

.col-lg-3,
.col-md-3,
.col-sm-6,
.col-xs-12 {
	padding: 0px;
}

/*Jumbotron*/

.jumbotron {
	background-image: url(img/header_bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;	
}

.header {
	height: 637px;
	text-align: center;
}

.logo {
	margin-top: 160px;
	margin-bottom: 42px;
}

.logo img {
	display: block;
	margin: 0 auto;
}

.jumbotron-text {
	display: inline-block;
}

/*Social-Media*/

.social-media {
	position: relative;
	display: block;
	float: left;
	z-index: 1;
	margin-left: 25px;
	margin-top: 22px;
}

.sm-fb,
.sm-tw,
.sm-in {
	width: 40px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 0px;
	border-radius: 32px;
	cursor: pointer;
}

.sm-fb {
	background-color: #256299;
}

.sm-tw {
	background-color: #378bb7;
}

.sm-in {
	background-color: #246485;
}

.sm-image {
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

/*About*/

.about-heading {
	padding-right: 42px;
}

.paragraph {
	border-top: 8px solid transparent;
}

/*Clients*/

.clients h2 {
	color: #fff;
	font-size: 40px;
	text-align: center;
	padding: 0px 0px;
	border-top: 0px;
	border-bottom: 1px solid #fff;
	letter-spacing: 9px;
	margin: 0px;
}

.clients {
	background-image: url(img/clients_bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.clients .container {
	padding: 0px 50px;
}

.clients-text {
	display: inline-block;
	margin-bottom: 80px;	
}

.clients .container a:hover{
    opacity: 0.5;
}

.box {
	width: 225px;
	height: 225px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	padding: 0px 0px;
	background-color: rgba(32,47,61,.95);
}

/*Contact*/

.contact h2 {
	color: #1e2f3e;
	font-size: 40px;
	padding: 0px 0px;
	border-top: 0px;
	border-bottom: 1px solid #1e2f3e;
	display: inline-block;
	letter-spacing: 8.5px;
	margin: 0px;
}

.contact p {
	color: #1e2f3e;
	font-size: 20px;
	line-height: 1.7;
	margin: 40px 0px 30px 0px;
}

.phone p {
	font-size: 18px;
	margin: 0px 0px 18px 0px;
}

form {
	margin-top: 35px;
}

.form-control {
	width: 100%;
	height: 54px;
	color: #1e2f3e;
	font-family: "Avenir", sans-serif;
	font-size: 16px;
	background-color: #f2f3f3;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: transparent transparent #c9d7e3 transparent;
	border-radius: 0px;
}

textarea.form-control {
	height: 128px;	
}

button.btn {
	width: 100%;
	height: 51px;
	color: #fff;
	font-family: "Avenir", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #286191;
	border-radius: 0px;
	border-style: solid;
	border-width: 0px;
	border-color: transparent;
}

button.btn :focus {
	color: #286191;
	font-family: "Avenir", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #f2f3f3;
	border-radius: 0px;
}

/* Footer*/

footer {
	height: 90px;
	background-color: #0d171f;
	padding: 35px 0px;
}

footer p{
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.5px;
}

footer .copyright {
	float: left;
	padding-left: 15px;
}

footer .tc {
	float: right;
}

/*Mobile-Styling*/

@media (max-width: 1050px) {

	.container {
		width: 900px;
		padding: 0px;
	}

	.clients .container {
		padding: 0px 0px;
	}

	.box {
		width: auto;
		height: auto;
		margin-left: 2px;
		margin-right: 2px;
	}
}

@media (max-width: 991px) {
	
	h2 {
		border-top: 5px solid #286191;
		padding: 20px 0px;
	}

	.container {
		width: 740px;
	}

	.section-heading {
		padding-right: 0px;
	}

	.paragraph {
		border-top: 0px solid transparent;
		padding: 0px;
	}

	.client-logo {
		width: 80%;
	}
}

@media (max-width: 767px) {


	h1 span,
	.clients h2,
	.contact h2 {
		font-size: 30px;
	}

	h2, p, .contact p {
		font-size: 17px;
	}

	footer p {
		font-size: 12px;
	}

	.container {
		width: 90%;
	}
}


@media (max-width: 580px) {

	h1 span {
		font-size: 20px;
	}
}